@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap');

/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 400 to 700 */

/* .dancing-script-<uniquifier> {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;  
} 
    
.neuton-extralight {
    font-family: "Neuton", serif;
    font-weight: 200;
    font-style: normal;
}

.neuton-light {
    font-family: "Neuton", serif;
    font-weight: 300;
    font-style: normal;
}

.neuton-regular {
    font-family: "Neuton", serif;
    font-weight: 400;
    font-style: normal;
}

.neuton-bold {
    font-family: "Neuton", serif;
    font-weight: 700;
    font-style: normal;
}

.neuton-extrabold {
    font-family: "Neuton", serif;
    font-weight: 800;
    font-style: normal;
}

.neuton-regular-italic {
    font-family: "Neuton", serif;
    font-weight: 400;
    font-style: italic;
}





*/



:root {
    --clr-fondo-oscuro: #0b1f16;
    --clr-fondo-claro: #6B8A7A;
    --clr-texto-oscuro: #B7B597;
    --clr-texto-claro: #DAD3BE;
}



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--clr-fondo-oscuro);
}

.borde-superior-izquierdo {
    margin: 0.25rem;
    transform: rotate(90deg);
    justify-self: left;
}

.borde-superior-derecho {
    margin: 0.25rem;
    transform: rotate(180deg);
}

.borde-inferior-izquierdo {
    margin: 0.25rem;
    justify-self: left;
}

.borde-inferior-derecho {
    margin: 0.25rem;
    transform: rotate(270deg);
}

.contenedor-general {
    border: var(--clr-texto-oscuro) solid;
    border-radius: 1rem;

}

li {
    list-style: none;
    font-size: x-large;
}

.valentina {
    font-family: "Dancing Script", cursive;
    color: var(--clr-texto-oscuro);
    font-size: 8rem;
}

.titulo {
    color: var(--clr-texto-oscuro);
    font-family: "Neuton", serif;
    font-weight: 400;
    font-style: normal;
}

.percha {
    width: 2rem;
    margin: 5px;
}

i {
    margin: 5px;
    font-size: 2rem;
}

.xv {
    font-size: 5rem;
    color: var(--clr-texto-oscuro);
    font-family: "Neuton", serif;
    font-weight: 400;
    font-style: normal;
}

.titulo-alias {
    font-size: 5rem;
    color: var(--clr-texto-oscuro);
    font-family: "Neuton", serif;
    font-weight: 400;
    font-style: normal;

}

h3 {
    font-size: 5rem;
}

.texto-regalo {
    font-size: 3rem;
}

p {
    font-size: 1.5rem;
}

/*
media query
*/
@media only screen and (max-width: 700px) {
    .valentina {
        font-size: 5rem;
    }

    .xv {
        font-size: 3rem;
    }

    .titulo-alias {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 768px) {
    .titulo-alias {
        font-size: 2rem;
    }

    .texto-regalo {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 450px) {
    h3 {
        font-size: 2rem;
    }
}

/*

animaciones

*/

/* ----------------------------------------------
 * Generated by Animista on 2024-6-24 14:45:14
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation vibrate-1
 * ----------------------------------------
 */
@-webkit-keyframes vibrate-1 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }

    40% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }

    60% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }

    80% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }

    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

@keyframes vibrate-1 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }

    40% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }

    60% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }

    80% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }

    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }


}

.vibrate-1 {
    -webkit-animation: vibrate-1 0.9s linear infinite both;
    animation: vibrate-1 0.9s linear infinite both;
}

/*
segunda animacion