@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap');

/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 400 to 700 */

/* .dancing-script-<uniquifier> {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;  
} 
    
.neuton-extralight {
    font-family: "Neuton", serif;
    font-weight: 200;
    font-style: normal;
}

.neuton-light {
    font-family: "Neuton", serif;
    font-weight: 300;
    font-style: normal;
}

.neuton-regular {
    font-family: "Neuton", serif;
    font-weight: 400;
    font-style: normal;
}

.neuton-bold {
    font-family: "Neuton", serif;
    font-weight: 700;
    font-style: normal;
}

.neuton-extrabold {
    font-family: "Neuton", serif;
    font-weight: 800;
    font-style: normal;
}

.neuton-regular-italic {
    font-family: "Neuton", serif;
    font-weight: 400;
    font-style: italic;
}





*/



:root {
    --clr-fondo-oscuro: #0b1f16;
    --clr-fondo-claro: rgb(107, 138, 122);
    --clr-texto-oscuro: #B7B597;
    --clr-texto-claro: #DAD3BE;
    --clr-texto-dorado: #F4CE14;
}



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--clr-fondo-oscuro);
}

.borde-superior-izquierdo {
    margin: 0.25rem;
    transform: rotate(90deg);
    justify-self: left;
}

.borde-superior-derecho {
    margin: 0.25rem;
    transform: rotate(180deg);
}

.borde-inferior-izquierdo {
    margin: 0.25rem;
    justify-self: left;
}

.borde-inferior-derecho {
    margin: 0.25rem;
    transform: rotate(270deg);
}

.lineas-1 {
    width: 80%;
    margin-bottom: -10rem;
    margin-top: -20rem;
    filter: brightness(0) saturate(100%) invert(49%) sepia(22%) saturate(330%) hue-rotate(96deg) brightness(100%) contrast(89%);
    filter: brightness(0) saturate(100%) invert(49%) sepia(22%) saturate(330%) hue-rotate(96deg) brightness(100%) contrast(89%);
}

.lineas-2 {
    transform: rotate(180deg);
    width: 80%;
    margin-bottom: -20rem;
    margin-top: -15rem;
    filter: brightness(0) saturate(100%) invert(49%) sepia(22%) saturate(330%) hue-rotate(96deg) brightness(100%) contrast(89%);
    filter: brightness(0) saturate(100%) invert(49%) sepia(22%) saturate(330%) hue-rotate(96deg) brightness(100%) contrast(89%);
}

.separador {
    width: 60%;
    margin-top: -15rem;
    margin-bottom: -15rem;
    filter: brightness(0) saturate(100%) invert(49%) sepia(22%) saturate(330%) hue-rotate(96deg) brightness(100%) contrast(89%);
    filter: brightness(0) saturate(100%) invert(49%) sepia(22%) saturate(330%) hue-rotate(96deg) brightness(100%) contrast(89%);
}

.separador-2 {
    width: 60%;
    margin-top: -10rem;
    margin-bottom: -10rem;
    filter: brightness(0) saturate(100%) invert(49%) sepia(22%) saturate(330%) hue-rotate(96deg) brightness(100%) contrast(89%);
    filter: brightness(0) saturate(100%) invert(49%) sepia(22%) saturate(330%) hue-rotate(96deg) brightness(100%) contrast(89%);
}

.linea-rosas {
    width: 90%;
    margin-top: -2rem;
    margin-bottom: -2rem;
    filter: brightness(10%) saturate(100%) invert(49%) sepia(22%) saturate(400%) hue-rotate(96deg) brightness(100%) contrast(100%);
    filter: brightness(10%) saturate(100%) invert(50%) sepia(22%) saturate(400%) hue-rotate(96deg) brightness(100%) contrast(100%);
}

.contenedor-general {
    border: var(--clr-texto-oscuro) solid;
    border-radius: 1rem;

}

li {
    list-style: none;
    font-size: x-large;
}

.valentina {
    font-family: "Dancing Script", cursive;
    color: var(--clr-texto-oscuro);
    font-size: 8rem;
}

.corazones {
    transform: rotate(35deg);
    width: 15rem;
    height: 15rem;
    margin: 10px;
    filter: brightness(10%) saturate(100%) invert(49%) sepia(22%) saturate(400%) hue-rotate(96deg) brightness(100%) contrast(100%);
    filter: brightness(10%) saturate(100%) invert(50%) sepia(22%) saturate(400%) hue-rotate(96deg) brightness(100%) contrast(100%);
}

.flores {
    width: 15rem;
    height: 15rem;
    margin: 10px;
    filter: brightness(10%) saturate(100%) invert(49%) sepia(22%) saturate(400%) hue-rotate(96deg) brightness(100%) contrast(100%);
    filter: brightness(10%) saturate(100%) invert(50%) sepia(22%) saturate(400%) hue-rotate(96deg) brightness(100%) contrast(100%);
}

.titulo {
    color: var(--clr-texto-oscuro);
    font-family: "Neuton", serif;
    font-weight: 400;
    font-style: normal;
}

.percha {
    width: 2rem;
    margin: 5px;
}

i {
    margin: 5px;
    font-size: 2rem;
    color: var(--clr-texto-oscuro);
}

a {
    text-decoration: none;
    margin: 5px;
    color: var(--clr-texto-oscuro);
}

.xv {
    font-size: 5rem;
    color: var(--clr-texto-oscuro);
    font-family: "Neuton", serif;
    font-weight: 400;
    font-style: normal;
}

.container-link {
    margin-bottom: 2px;
}

.cuentas {

    width: 80%;
    margin: auto;
}

.titulo-alias {
    font-size: 5rem;
    color: var(--clr-texto-oscuro);
    font-family: "Neuton", serif;
    font-weight: 400;
    font-style: normal;

}

h3 {
    font-size: 5rem;
}

.texto-regalo {
    font-size: 3rem;
}

p {
    font-size: 1.5rem;
}

/*
media query
*/
@media only screen and (max-width: 700px) {
    .valentina {
        font-size: 5rem;
    }

    .xv {
        font-size: 3rem;
    }

    .titulo-alias {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 768px) {
    .titulo-alias {
        font-size: 1.5rem;
    }

    .texto-regalo {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 450px) {
    h3 {
        font-size: 3rem;
    }

    .texto-regalo {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 1015px) {
    .lineas-1 {
        margin-bottom: -5rem;
        margin-top: -10rem;
    }

    .lineas-2 {
        margin-bottom: -10rem;
        margin-top: -5rem;
    }

    .contenedor-direccion {
        /* justify-content: center !important; */
    }

    .titulo {
        font-size: 1rem;
    }

    .titulo-alias {
        font-size: 1rem;
    }

    .flores,
    .corazones {
        margin: 0;
        width: 5rem;
        height: 5rem;
    }
}

/* estrellas */

.contenedor-generl {
    background-image: linear-gradient(var(--clr-texto-claro), #000);
    position: fixed;
    inset: 0;
}

.space {
    width: var(--size);
    height: var(--size);
    background: #fff;
    box-shadow: var(--space-layer);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 75%;
    animation: moveStars var(--duration) linear infinite;
}

@keyframes moveStars {
    from {
        transform: translateY(-100vh);
    }

    to {
        transform: translateY(100vh);
    }

}

/* fin de estrellas*/
/*
segunda animacion

*/
@-webkit-keyframes flip {
    from {
        -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -360deg);
        transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -360deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    40% {
        -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    50% {
        -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    80% {
        -webkit-transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
        transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    to {
        -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
        transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
}

@keyframes flip {
    from {
        -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -360deg);
        transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -360deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    40% {
        -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    50% {
        -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    80% {
        -webkit-transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
        transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    to {
        -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
        transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
}

@-webkit-keyframes swing {
    20% {
        -webkit-transform: rotate3d(0, 0, 1, 15deg);
        transform: rotate3d(0, 0, 1, 15deg);
    }

    40% {
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
        transform: rotate3d(0, 0, 1, -10deg);
    }

    60% {
        -webkit-transform: rotate3d(0, 0, 1, 5deg);
        transform: rotate3d(0, 0, 1, 5deg);
    }

    80% {
        -webkit-transform: rotate3d(0, 0, 1, -5deg);
        transform: rotate3d(0, 0, 1, -5deg);
    }

    to {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }
}

@keyframes swing {
    20% {
        -webkit-transform: rotate3d(0, 0, 1, 15deg);
        transform: rotate3d(0, 0, 1, 15deg);
    }

    40% {
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
        transform: rotate3d(0, 0, 1, -10deg);
    }

    60% {
        -webkit-transform: rotate3d(0, 0, 1, 5deg);
        transform: rotate3d(0, 0, 1, 5deg);
    }

    80% {
        -webkit-transform: rotate3d(0, 0, 1, -5deg);
        transform: rotate3d(0, 0, 1, -5deg);
    }

    to {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }
}

.regalos:hover,
.contenedor-general:hover,
.contenedor-header:hover,
.datos:hover {
    .swing {
        -webkit-transform-origin: top center;
        transform-origin: top center;
        -webkit-animation-name: swing;
        animation-name: swing;
    }

    .animated {
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
}


/* ---------------------------------- */
.heartbeat {
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
    animation: heartbeat 1.5s ease-in-out infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-6-29 3:15:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}


/* ---------------------------------------------------- */


.color-change-2x {
    -webkit-animation: color-change-2x 2s linear infinite alternate both;
    animation: color-change-2x 2s linear infinite alternate both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-6-29 3:18:43
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation color-change-2x
 * ----------------------------------------
 */
@-webkit-keyframes color-change-2x {
    0% {
        background: #19dcea;
    }

    100% {
        background: #b22cff;
    }
}

@keyframes color-change-2x {
    0% {
        background: #081807;
    }

    100% {
        background: #192b19;
    }
}



/* ------------------------------------------------------------------ */

.tracking-in-contract {
    -webkit-animation: tracking-in-contract 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-contract 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-6-29 3:29:7
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-contract
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-contract {
    0% {
        letter-spacing: 1em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        letter-spacing: normal;
        opacity: 1;
    }
}

@keyframes tracking-in-contract {
    0% {
        letter-spacing: 1em;
        opacity: 0;
    }

    20% {
        opacity: 0.2;
    }

    40% {
        opacity: 0.4;
    }

    60% {
        opacity: 0.6;
    }

    80% {
        opacity: 0.8;
    }


    100% {
        letter-spacing: normal;
        opacity: 1;
    }
}